<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/layout">
    <head>
        <title>Files list</title>       
        <meta charset="UTF-8"/>
        <!-- 
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
         -->
        
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css" th:href="@{css/bootstrap-theme.min.css}" />   
    </head>
    <body>
      <section layout:fragment="content">
      	<h1>Lecture des fichiers</h1>  
       	<form th:action="@{/}" method="get">
       		<div class="container ">
	         	<link th:href="@{css/main.css}" rel="stylesheet"/> 	         
	       		<table class="table"> 
		       		<tr>   
	               		<th>Liste des fichiers :</th>              
	               </tr> 
	       			 
					<tr th:each=p:${files}>
						<td class="col-md-6">
							<!-- <input onclick="dispalyFile(this.id)" onclick="return confirm('Do you confirm raw reading?')" type="checkbox"  th:field="*{files}" th:value="${p.getName()}"></input> -->
							<input  type="checkbox"  th:field="*{files}" th:value="${p.getName()}"></input>
							<label th:text="${p}"></label>
						</td>
	               </tr>
	               <tr>
	               		<td>
	               			<p>Fichiers sélectionnés: <span id="filesList"> </span></p>
	               		</td>
	               </tr>
					<tr>
						<td colspan="3"><input class="btn btn-primary" onclick="dispalyCheckedBox()" type="button" value="Lire fichiers"/></td>
					</tr>
	       		</table>
       		</div>
       </form>
       <script>
			function readFile(clicked_id) {
				//var x = document.getElementById("1").value;		
				//alert('files :'+ clicked_id +'/');
				var x = document.getElementById(clicked_id).value;
				//alert('file to read:'+ x);
				//var arrayOfStrings = x.split('.');
				//alert('arrayOfString:'+ arrayOfStrings[0]);
				//var target = "/fileRead/" + arrayOfStrings[0] ;
				var target = "/fileRead/" + x ;
				//alert('URL :'+ target);
				$.ajax({url: target , success: function(result){
			       // $("#div1").html(result);
				   //alert('file in console:'+ arrayOfStrings[0]);
				   //alert('file in console:'+ target);
			    }});		
			}
			function dispalyFile(clicked_id) {
				
				// Affiche les noeuds enfant du noeud body
				
				var elements = document.getElementsByTagName('input'); 
				console.log(document.getElementsByTagName('input'));
				for (var i = 0; i < elements.length; ++i) {
				    var element = elements[i] // objet de type Element
				    if (element.checked){
				    	console.log(element);
				    }
				    	
				}
				/*
				for (var i = 0; i < document.body.childNodes.length; i++) {
				    console.log(document.body.childNodes[i]);
				    
				}
				*/
				// =========================================================
				var fichier = document.getElementById(clicked_id).value;
				/*
				if(document.getElementById(clicked_id).checked){
					alert (fichier + '  checked');
				}
				*/
				// alert('Fichier à lire:'+ fichier);
				var fichierSelected = document.getElementById("filesList").value;
				if (fichierSelected='undefined'){
					fichierSelected =  fichier ;
				}
				else{
					fichierSelected = fichierSelected + fichier ;
				}
					
				// alert('Fichiers sélectionnés:'+ fichierSelected);
				// fichierSelected = fichierSelected + fichier ;
				// alert('Fichiers sélectionnés:'+ fichierSelected);
				document.getElementById("filesList").innerHTML = fichierSelected;	
			}
			
			function dispalyCheckedBox() {
				
				// Affiche les noeuds enfant du noeud body
				
				var elements = document.getElementsByTagName('input'); 
				var fichierSelected="";
				for (var i = 0; i < elements.length; ++i) {
				    var element = elements[i] // objet de type Element
				    if (element.checked){
				    	/*
				    	console.log(element);
				    	console.log(element.id);
				    	console.log(element.value);
				    	console.log(element.type);
				    	console.log("=============");
				    	console.log(fichierSelected);
				    	*/
				    	fichierSelected = fichierSelected+element.value+',';
				    }
				    	
				}
			
				document.getElementById("filesList").innerHTML = fichierSelected;
				var target = "/fileRead/" + fichierSelected ;
				$.ajax({url: target , success: function(result){
			       // $("#div1").html(result);
				   //alert('file in console:'+ arrayOfStrings[0]);
				   //alert('file in console:'+ target);
					console.log('Appel URL réussi:'+ target);
			    }});		
			}
			
						
		</script>
       <!-- ========================================================= -->
       </section>
    </body>
  </html>