<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/layout">
<head>
      <title>Error 404</title>
</head>
<body>
   <section layout:fragment="content">
   <meta charset="utf-8">
    <h1>Error 404</h1>
    La requête ne peut pas aboutir. Veuillez vérifier votre URL / RequestMapping
    <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
</section>
</body>
</html>